@charset 'utf-8';
/* footer css 시작 */
#footer{
    background-image: url(../img2/full_img.jpg);
    color: #fff;
    padding: 100px;
}

#footer h2{
    font-weight: 700;
    font-size: 25px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    text-align: left;
    width: 300px;
}

.footer-txt{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.first-footer{
    margin-right: 200px;

}

#footer ul{
    padding-top: 25px;
    color: #b9b4b4;
}

#footer ul li{
    margin-bottom: 7px;
    font-weight: 900;
    font-size: 20px;
    color: #b0b0b0;
}

#footer .txt{
    display: block;
    font-size: 22px;
    font-weight: 700;
    width: 800px;
    text-align: left;
    margin: 0 auto;
    color:#ffffff;
}